{{extend 'layout.html'}}

<title>SPR | Contact Me</title>
<body>
    <p>
        Don't hesitate to contact me with comments/questions.<br>
        Feel free to contact me through any of the methods below.<br>

    </p>
    <p>
        <b>Snapchat:</b> shipphonerepair or scan the Snapcode below<br><br>
        <img class="snapchat" src="{{=URL('static', 'images', args='snapchat.png')}}" /><br><br>
        <b>Phone:</b> (717) 494-6466<br>
        <b>Email:</b> shipphonerepair@gmail.com
    </p>
    <p class="fit">
        Also, I'm always looking for improvments for this website so please feel free to leave me any comments, suggestions, or complaints below.<br>
    </p>
<div>
    {{=form.custom.begin}}
        <table>
            <tr>
                <td width="175">
                    <p>
                        <b>Comment/Suggestion:</b>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="300">
                    {{=form.custom.widget.comment}}
                </td>
            </tr>
            <tr>
                <td>
                    <div class="submit_button">
                        {{=form.custom.submit}}
                    </div>
                </td>
            </tr>
        </table>
        <div>
        </div>
        {{=form.custom.end}}
</div>
</body>
