{{extend 'layout.mobile.html'}}

<title>SPR | Request Recieved</title>
<body>
    <div class="fit">
        The following form has been received:<br>
        <table class="received">
            <tr>
                <td class="infoName">Name:</td>
                <td class="info">{{=received[0]}} {{=received[1]}}</td>
            </tr>
            <tr>
                <td class="infoName">Phone Number:</td>
                <td class="info">{{=received[2]}}</td>
            </tr>
            <tr>
                <td class="infoName">Email:</td>
                <td class="info">{{=received[3]}}</td>
            </tr>
            <tr>
                <td class="infoName">Phone Model:</td>
                <td class="info">{{=received[4]}}</td>
            </tr>
            <tr>
                <td class="infoName">Repair Request:</td>
                <td class="info">{{=received[5]}}</td>
            </tr>
        </table>
        <br>
        I will text you soon to confirm the details. Thank you.<br>
        &nbsp - Josh
        </p>
    </div>
</body>
