{{extend 'layout.html'}}

<title>SPR | About</title>
<body>
    <h2 align="center">
        Prices
    </h2>
    <p>
        <table class="prices">
            <tr>
                <td class="header">
                    <b>iPhone Model</b>
                </td>
                <td class="header">
                    <b>Screen Replacement</b>
                </td>
                <td class="header">
                    <b>Battery Replacement</b>
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 4
                </td>
                <td>
                    $40
                </td>
                <td>
                    $20
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 4S
                </td>
                <td>
                    $40
                </td>
                <td>
                    $20
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 5
                </td>
                <td>
                    $45
                </td>
                <td>
                    $20
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 5C
                </td>
                <td>
                    $45
                </td>
                <td>
                    $25
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 5S
                </td>
                <td>
                    $45
                </td>
                <td>
                    $25
                </td>
            </tr>
            <tr>
                <td>
                    iPhone SE
                </td>
                <td>
                    $45
                </td>
                <td>
                    $30
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6
                </td>
                <td>
                    $50
                </td>
                <td>
                    $30
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6 Plus
                </td>
                <td>
                    $50
                </td>
                <td>
                    $30
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6S
                </td>
                <td>
                    $55
                </td>
                <td>
                    $30
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 6S Plus
                </td>
                <td>
                    $55
                </td>
                <td>
                    $35
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 7
                </td>
                <td>
                    $60
                </td>
                <td>
                    $35
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 7 Plus
                </td>
                <td>
                    $60
                </td>
                <td>
                    $35
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 8
                </td>
                <td>
                    $60
                </td>
                <td>
                    $35
                </td>
            </tr>
            <tr>
                <td>
                    iPhone 8 Plus
                </td>
                <td>
                    $65
                </td>
                <td>
                    $40
                </td>
            </tr>
    </table>
    </p>
</body>
